<!-- google map -->
<div style='width: 100%'>
  <div id="map" style='width: 100%; height: 300px;'></div>
</div>
<!-- google maps javascript -->
<script type='text/javascript'>
var triphash = <%=raw @hash.to_json %>;
console.log(triphash[0]);
$(document).on("ready page:load", function(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.getMap().panTo({lat: triphash[0].lat, lng: triphash[0].lng});
    });
});
</script>