<div class="col-sm-3">
  <!-- When rendering a partial from another folder, you dont need the underscore in the name of the partial -->
  <div class="row sidebar">
  <%= render "/users/sidebar" %>
  </div>
  <br>
  <div class="row">
  <%= render "/users/my_trips" %>
  </div>
</div>

<h1 class="page-title">Edit Trip</h1>

<%= render "form" %>
