<div class="col-sm-3">
  <%= render 'users/sidebar' %>
</div>

<div class="col-sm-9">
  <h1>Flights#index</h1>

  <div class="col-sm-6 col-sm-offset-3">
    <h1>Results</h1>
    <div class="search-results">
      <%= @flights %>
    </div>

  </div>





</div>
