<h3 class="my-trips-header">My Trips
    <%= link_to "", new_user_trip_path(@user), class: "glyphicon glyphicon-plus" %></h3>
<div class="my-trips-container">
  <div class="my-trips">
    <% @trips.each do |t| %>
      <div class="my-trips-trip">
        <%= link_to "#{t.name}", user_trip_path(@user, t), class: "my-trips-trip"%>
      </div>
    <% end %>
  </div>
</div>
