<div class="sidebar-container">
  <div class="my-trips-header">
    <%= link_to "", new_user_trip_path(@user), class: "glyphicon glyphicon-plus pull-right" %>
    <h3>My Trips</h3>
  </div>
  <div class="my-trips-container">
    <div class="my-trips">
      <%= paginate @trips %>
      <% @trips.each do |t| %>
        <div class="my-trips-trip">
          <%= link_to "#{h truncate(t.name, :length => 35)}", user_trip_path(@user, t), class: "my-trips-trip"%>
        </div>
      <% end %>
    </div>
  </div>
</div>