<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">


    <link href="css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="css/owl.theme.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="css/style.css">

    <script type="text/javascript" src="js/modernizr.custom.js"></script>

  <body>
    <div id="header" class="text-center">
        <h1>Meet the Team</h1>
    </div>

    <div class="space"></div>

  <!-- Team Section -->
  <section id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-lg-3">
                <div class="t-style2">
                    <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/11094683_10153695760917646_3338770154980232539_n.jpg?oh=d73e403c3373bb1df85824d1e8916568&oe=57D978BC" class="img-circle center-block img-responsive" alt="...">
                    <h4>Adrianna Villagrana</h4>
                    <span class="t-position">Co-Founder</span>
                    <div class="t-social2">
                        <a href="#"><i class="fa fa-linkedin tsocial"></i></a>
                        <a href="#"><i class="fa fa-github tsocial"></i></a>
                    </div>
                    <div class="t-caption2">
                    <h6>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Olypian quarrels et gorilla congolium sic ad nauseum.</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-lg-3 padding">
              <div class="t-style2">
                <img src="https://files.slack.com/files-pri/T0351JZQ0-F1A9F4TGX/249082_10151979776554616_1489116581_n.jpg" class="img-circle center-block img-responsive" alt="...">
                  <h4>Scott Madrid</h4>
                  <span class="t-position">Co-Founder</span>
                  <div class="t-social2">
                        <a href="#"><i class="fa fa-linkedin tsocial"></i></a>
                        <a href="#"><i class="fa fa-github tsocial"></i></a>
                  </div>
                  <div class="t-caption2">
                  <h6>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Olypian quarrels et gorilla congolium sic ad nauseum.</h6>
                  </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-lg-3 padding">
              <div class="t-style2">
                <img src="https://avatars0.githubusercontent.com/u/7053428?v=3&s=400" class="img-circle center-block img-responsive" alt="...">
                  <h4>Matt Vilhauer</h4>
                  <span class="t-position">Co-Founder</span>
                  <div class="t-social2">
                      <a href="#"><i class="fa fa-linkedin tsocial"></i></a>
                      <a href="#"><i class="fa fa-github tsocial"></i></a>
                  </div>
                  <div class="t-caption2">
                  <h6>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Olypian quarrels et gorilla congolium sic ad nauseum.</h6>
                  </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-lg-3 padding">
              <div class="t-style2">
                <img src="https://scontent-lga3-1.xx.fbcdn.net/t31.0-8/12657340_10205910929468363_3660669027755817464_o.jpg" class="img-circle center-block img-responsive" alt="...">
                  <h4>Ameer Brown</h4>
                  <span class="t-position">Co-Founder</span>
                  <div class="t-social2">
                      <a href="#"><i class="fa fa-linkedin tsocial"></i></a>
                      <a href="#"><i class="fa fa-github tsocial"></i></a>
                  </div>
                  <div class="t-caption2">
                  <h6>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Olypian quarrels et gorilla congolium sic ad nauseum.</h6>
                  </div>
                </div>
            </div>
        </div>
    </div>

  </section>

  <center>
  <div>
      <input type="submit" class='btn btn-block btn-lg btn-gray' value="Mail US" onclick="window.location.href='mailto:thee.friendly.nomad@gmail.com'">
  </div>
 </center>




    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="js/custom.js"></script>

  </body>
</html>
