<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
    <body>
    <div id="header" class="text-center">
        <h1>Meet the Team</h1>
    </div>

    <div class="space"></div>

  <!-- Team Section -->
  <section id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-lg-3">
                <div class="t-style2">
                    <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/11094683_10153695760917646_3338770154980232539_n.jpg?oh=d73e403c3373bb1df85824d1e8916568&oe=57D978BC" class="img-circle center-block img-responsive" alt="...">
                    <h4>Adriana Villagran</h4>
                    <span class="t-position">Co-Founder</span>
                    <div class="t-social2">
                        <a href="https://www.linkedin.com/in/adrianavillagran"><i class="fa fa-lg fa-linkedin tsocial"></i></a>
                        <a href="https://github.com/AdrianaVillagran"><i class="fa fa-lg fa-github tsocial"></i></a>
                    </div>
                    <div class="t-caption2">
                    <h6>Go to Ristorante del Fagioli in Florence, get the pork. Vegetarians, no one else has to know.</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-lg-3 padding">
              <div class="t-style2">
                <img src="http://i.imgur.com/zTDKxIj.jpg" class="img-circle center-block img-responsive" alt="...">
                  <h4>Scott Madrid</h4>
                  <span class="t-position">Co-Founder</span>
                  <div class="t-social2">
                      <a href="https://www.linkedin.com/in/scottmadrid"><i class="fa fa-lg fa-linkedin tsocial"></i></a>
                      <a href="https://github.com/samadrid92"><i class="fa fa-lg fa-github tsocial"></i></a>
                  </div>
                  <div class="t-caption2">
                  <h6>Paradise Bar in Mykonos, Greece. Tell the Elephant Man I sent you!<br>&nbsp</h6>
                  </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-lg-3 padding">
              <div class="t-style2">
                <img src="https://avatars0.githubusercontent.com/u/7053428?v=3&s=400" class="img-circle center-block img-responsive" alt="...">
                  <h4>Matt Vilhauer</h4>
                  <span class="t-position">Co-Founder</span>
                  <div class="t-social2">
                      <a href="https://www.linkedin.com/in/matthewvilhauer"><i class="fa fa-lg fa-linkedin tsocial"></i></a>
                      <a href="https://github.com/matthewvilhauer"><i class="fa fa-lg fa-github tsocial"></i></a>
                  </div>
                  <div class="t-caption2">
                  <h6>If you're ever at Al Hanah Bar in Abu Dhabi, dont drink the red potion.<br>&nbsp</h6>
                  </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-lg-3 padding">
              <div class="t-style2">
                <img src="https://scontent-lga3-1.xx.fbcdn.net/t31.0-8/12657340_10205910929468363_3660669027755817464_o.jpg" class="img-circle center-block img-responsive" alt="...">
                  <h4>Ameer Brown</h4>
                  <span class="t-position">Co-Founder</span>
                  <div class="t-social2">
                      <a href="https://www.linkedin.com/in/ameerbrown"><i class="fa fa-lg fa-linkedin tsocial"></i></a>
                      <a href="https://github.com/Ameer-Brown"><i class="fa fa-lg fa-github tsocial"></i></a>
                  </div>
                  <div class="t-caption2">
                  <h6>I took a pill in Ibiza, and discovered that Tylenol is the same everywhere.<br>&nbsp</h6>
                  </div>
                </div>
            </div>
         </div>
      </div>
     </section>
  <center>
       <div>
         <a onclick="window.location.href='mailto:thee.friendly.nomad@gmail.com'" class="btn btn-lg">
              <span class="glyphicon glyphicon-envelope"></span> We'd Love To Hear From You
        </a>
         <div class="space"></div>
      </div>
  </center>
 </body>
</html>
