
body {
    font-family: 'Muli', sans-serif;
    color: #666;
    background-color: #fff;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    position: relative;
    top: 0;
}
h1 {
    font-size: 40px;
    font-weight: 800;
}

h4 {
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
}

.space { padding-top: 40px }
.padding-right { padding-left: 10px }

#header {
    background-color: #3c9484;
    color: #ffffff;
    padding: 20px;
    font-family: 'Muli', sans-serif;
}
.title {
    padding-top: 40px;
    padding-bottom: 40px;
}

#team{
    color: #424;
    height: auto;
    text-align: center;
}

#team h6 { color: #888888 }
.team {
    text-align: center;
    margin-bottom: 20px;
}
.t-social {
    padding: 15px 7px;
    width: 100%;
}
.t-social .fa {
    display: inline-block;
    padding: 6px;
    color: #ea6060;
    width: 30px;
    height: 30px;
    border: 1.5px solid transparent;
    border-radius: 5px;
}
.t-social .fa:hover {
    padding: 6px;
    width: 30px;
    height: 30px;
    border: 1.5px solid #3c9484;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-font-smoothing: antialiased;
}
.t-caption { padding: 20px }
span.t-position {
    font-size: 12px;
    color: grey;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
}
.t-style2 {
    border: 1px solid #3c9484;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.t-style2 img {
	padding: 30px;
	margin: 0 auto;
  height: 250px;
  width: 250px
}
.t-caption2 { padding: 5px 20px }
.t-social2 {
    padding: 5px 7px;
    width: 100%;
    background-color: #3c9484;
}
.t-style2:hover >.t-social2 {
    background-color: #ee6e43;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-font-smoothing: antialiased;
}
.t-social2 .fa {
    display: inline-block;
    padding: 6px;
    color: #ffffff;
    width: 30px;
    height: 30px;
    border: 1.5px solid transparent;
    border-radius: 5px;
}
.t-social2 .fa:hover {
    padding: 6px;
    width: 30px;
    height: 30px;
    border: 1.5px solid #ffffff;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-font-smoothing: antialiased;
}


/* Responsive Media Query */
@media only screen and (min-width: 1200px) {
    .container { width: 960px }
}
  h2,
  .h2 { font-size: 20px }
