/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require abracadabra
 *= require_tree .
 *= require_self
 */

 .page-title {
   text-align: center;
 }
 .glyphicon {
   font-size: 1.5em;
   padding-right: 10px;
 }
 .form-control {
   margin-bottom: 10px;
 }

 /* Map */

 .map {
   margin: 150px;
   text-align: center;
 }

 /* My Trips sidebar */

 .my-trips-header {
   text-align: center;
   margin-bottom: 20px;
 }
 .my-trips {
   height: 350px;
 }
 .trips-container {
   overflow:auto;
   height: 325px;
 }
 .my-trips-trip {
   margin-bottom: 10px;
 }

 .my-trips-trip {
   font-size: 18px;
   font-weight: 1.2em
 }

 /* Sidebar */

 .mytrips-container {
   padding: 10px;
   margin-left: 10px;
   background-color: #f4f4f4;
 }
 .add-expense-button {
   font-size: 24px;
   font-weight: 1.2em;
   text-align: center;
   margin-bottom: 10px;
 }
 .glyphicon .small {
   font-size: 1.2em;
 }
 .profile-info {
   margin-right: 10px;
   margin-top: 10px;
 }
 .profile_pic {
   margin-left: 10px;
 }
 .pagination {
   width: 100%;
   font-size: 14px;
   text-align: center;
 }

 /* Expense Table */
 .expense-table-header {
   font-size: 1.2em;
   font-weight: bold;
   margin-bottom: 30px;
 }
 .expense-row {
   margin: 10px;
   background-color: #f4f4f4
 }
 td {
   width: 150px;
   height: 40px;
 }

 .form-field {
   margin-bottom: 10px;
 }
 select {
   width: 100%;
   margin-bottom: 20px;
 }
