// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-image: url('http://bit.ly/1jXLs1w');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin-top: -20px;
  margin-bottom: -20px;

}

.container-index{
  display: block;
}


.welcome_message{
  // positioning
  line-height: 100px;
  margin-top: 100px;


  // font
  color: rgba(255,255,255,0.8) !important;
  font-weight: bold;
  font-size: 6vw;
  text-align: center;
  font-family: "Muli", sans-serif !important;;

  //border
  background-color: rgba(0,0,0, 0.6);
  border-radius: 10px;
  border: 1px solid white;
}

#drop-button {
    // font
    color:white;
    text-align: center;
    font-family: "Muli", sans-serif;
    font-size: 17px;

    //border
    background-color: #e7714a;
 }

 #collapsible-about{
    // font
    color:rgb(211,211,211);
    font-family: "Sintony", sans-serif;

    //border
    border-radius:7px;
    padding: 20px;
    background-color: rgba(55,65,81,0.9);
    // border: 1px solid white
  }


  #collapsible-about i {
    color: #e7714a;
  }

  #collapsible-about h4 {
    color: #e7714a;
  }

  #collapsible-about p {
    font-size: 15px;
  }



  .panel-body.log {

    // positioning
    // position: absolute;
    // left: 58%;
    background: rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
    border-radius: 4px;

    // font
    color:white;
    font-family: "Muli", sans-serif;

}

 .panel-body.new {
   background: rgba(0, 0, 0, 0.7);
  //  margin-bottom: 20px;
   border-radius: 4px;

   // font
   color:white;
   font-family: "Muli", sans-serif;
}

// So the password reset test black
.pass{
    color: black
 }
