<div class="col-sm-3">
  <%= render 'users/sidebar' %>
</div>

<div class="col-sm-9">
  <h2 class="page-title">Edit Expense</h2>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render 'form' %>
        </div>
      </div>
    </div>
</div>
