<div class="col-sm-3">
  <!-- When rendering a partial from another folder, you dont need the underscore in the name of the partial -->
  <div class="row sidebar">
  <%= render "/users/sidebar" %>
  </div>
  <br>
  <div class="row">
  <%= render "/users/my_trips" %>
  </div>
</div>

<div class="col-sm-9">
  <h1 class="page-title">Expenses#edit</h1>
  <%= render 'form' %>
</div>
